<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>College</h1>
    <h2>Name: {{object.name}}</h2>
    <h3>Students:
        <ul>
        {% for student in object.student_set.all %}
          <a href="{% url 'student' student.pk %}"><li>{{student.name}}</li></a>
        {% endfor %}
        </ul>
    </h3>
    <h4><a href="{% url 'college_update' college.pk%}">Update Details</a></h3>
    <h4><a href="{% url 'college_delete' college.pk%}">Delete</a></h3>
        <h5><a href="{% url 'index' %}">Go back to Home</a></h5>

</body>
</html>